@{
    string? currentAction = ViewContext.RouteData.Values["action"].ToString();
    string? currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - net_il_mio_fotoalbum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/net_il_mio_fotoalbum.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="@Url.Action("Index", "Home")">My Album</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100"
                type="text"
                placeholder="Search"
                aria-label="Search" />

    </header>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <nav id="sidebarMenu"
                    class="col-md-3 col-lg-2 d-md-block bg-dark navbar-dark sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white @((currentAction == "Index" && currentController == "Home") ? "bg-secondary" : "")" href="@Url.Action("Index" , "Home")">
                                <i class="fa-solid fa-tachometer-alt fa-lg fa-fw"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @((currentAction == "Create" && currentController == "Home") ? "bg-secondary" : "")" href="@Url.Action("Create" , "Home")">
                                <i class="fa-solid fa-tachometer-alt fa-lg fa-fw"></i>
                                Aggiungi foto
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @((currentAction == "Index" && currentController == "Category") ? "bg-secondary" : "") "
                               href="@Url.Action("Index" , "Category")">
                                <i class="fa-solid fa-tachometer-alt fa-lg fa-fw"></i>
                                Categorie
                            </a>
                        <li class="nav-item">
                            <a class="nav-link text-white text-nowrap @((currentAction == "Create" && currentController == "Category") ? "bg-secondary" : "")" href="@Url.Action("Create" , "Category")">
                                <i class="fa-solid fa-tachometer-alt fa-lg fa-fw"></i>
                                Aggiungi category
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="rightContainer col-md-9 ms-sm-auto col-lg-10 ">
                <main class="m-auto col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    @RenderBody()
                </main>
                <footer class="border-top footer text-muted ">
                    <div class="container">
                        &copy; 2023 - net_il_mio_fotoalbum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>